* {
  margin: 0;
  padding: 0;
}

.card {
  width: 75%;
  height: 12rem;
  margin: 1rem;
  background-color: lightgrey;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.containerBasic {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: auto;
}

.containerBasicHorizontal {
  /* HAS TO BE EDITED */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: auto;
}

.workoutCard {
  width: 75%;
  height: 10rem;
  margin: 1rem;
  padding: 1rem;
  background-color: lightgrey;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.inputLogin {
  border-radius: 10px;
  padding: 10px 10px;
  border: 0px solid lightgray;
  background-color: lightgray;
  width: 11rem;
}

.inputGeneral {
  border-radius: 10px;
  padding: 10px 10px;
  border: 0px solid lightgray;
  background-color: lightgray;

}

.signInButton {
  border-radius: 10px;
  padding: 10px 10px;
  border: 0px solid lightgray;
  background-color: #502C49;
  width: 12rem;
}

.purpleButton{
  border-radius: 10px;
  padding: 10px 10px;
  border: 0px solid lightgray;
  background-color: #502C49;
  width: 8rem;
  margin: 10px;
  
}

.profilePicture {
  width: 5rem;
  height: 5rem;
  color: #502C49;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
