@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/cmu-serif');

:root {
  --primary-color: #363d10;
  --secondary-color: #879635;
  --ternary-color: #502c49;
  --main-background: #F3F1F3;
  --primary-font: 'Josefin Sans', sans-serif;
  --secondary-font: 'Cormorant', serif;
}

* {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background);
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  background-color: darkgrey;
  width: 80%;
  height: 0.1rem;
}

.card {
  width: 75%;
  height: 12rem;
  margin: 1rem;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.containerBasic {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: auto;
}

.containerBasicHorizontal {
  /* HAS TO BE EDITED */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: auto;
}

.workoutCard {
  width: 75%;
  height: 10rem;
  margin: 1rem;
  padding: 1rem;
  background-color: lightgrey;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.inputLogin {
  border-radius: 10px;
  padding: 10px 10px;
  border: 0px solid lightgray;
  background-color: lightgray;
  width: 11rem;
}

.inputGeneral {
  border-radius: 10px;
  padding: 10px 10px;
  border: 0px solid lightgray;
  background-color: lightgray;

}

.signInButton {
  border-radius: 10px;
  padding: 10px 10px;
  border: 0px solid lightgray;
  background-color: #502C49;
  width: 12rem;
}

.purpleButton{
  border-radius: 10px;
  padding: 10px 10px;
  border: 0px solid lightgray;
  background-color: #502C49;
  color: white;
  width: 8rem;
  margin: 10px;
  
}

.profilePicture {
  width: 5rem;
  height: 5rem;
  color: #502C49;
}

.goalstabs {
  color: var(--secondary-color);
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.drawer {
  background-color: #502C49;
  font-family: var(--primary-font);
  align-self: center;
}

.buttonWhite {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  font-family: var(--primary-font);
  padding: 0px 10px;

}

.ListItemButton .buttonWhite .MuiListItemText-primary {
  font-family: 'Josefin Sans', sans-serif;
}